.bold {
    font-weight:bold;
}
.text-center {
    text-align: center;
}
.text-right {
    text-align: right;
}
.mt-3 {
    margin-top:3rem;
}
.bg-dark {
    background-color: #303133;
    color: #fff;
}
.el-icon-loading {
    font-size: 60px;
}
