<template>
    <el-main>
        <el-row :gutter="20">
            <el-col :span="8">
                <div class="grid-content">
                    <p class="bold">Name</p>
                    <el-input
                        placeholder="Name"
                        :value="filters['name']"
                        @input="updateFilter($event, 'name')"
                        clearable
                    >
                    </el-input>
                </div>
            </el-col>
            <el-col :span="16">
                <div class="grid-content">
                    <p class="text-center bold">Price</p>
                    <el-slider
                        label = "Price"
                        :value="filters['price']"
                        @input="updateFilter($event, 'price')"
                        range
                        show-stops
                        :min="200000"
                        :max="600000"
                        :step="10000"
                    >
                    </el-slider>
                </div>
            </el-col>
        </el-row>
        <el-row :gutter="20">
            <el-col :span="6">
                <div class="grid-content text-center bold">
                    <p>Bedrooms</p>
                    <el-select
                        :value="filters['beds']"
                        clearable
                        placeholder="Select"
                        @change="updateFilter($event, 'beds')"
                    >
                        <el-option
                            v-for="item in selectOptions"
                            :key="item"
                            :label="item"
                            :value="item"
                        >
                        </el-option>
                    </el-select>
                </div>
            </el-col>
            <el-col :span="6">
                <div class="grid-content text-center bold">
                    <p>Bathrooms</p>
                    <el-select
                        :value="filters['baths']"
                        clearable
                        placeholder="Select"
                        @change="updateFilter($event, 'baths')"
                    >
                        <el-option
                            v-for="item in selectOptions"
                            :key="item"
                            :label="item"
                            :value="item"
                        >
                        </el-option>
                    </el-select>
                </div>
            </el-col>
            <el-col :span="6">
                <div class="grid-content text-center bold">
                    <p>Storeys</p>
                    <el-select
                        :value="filters['storey']"
                        clearable
                        placeholder="Select"
                        @change="updateFilter($event, 'storey')"
                    >
                        <el-option
                            v-for="item in selectOptions"
                            :key="item"
                            :label="item"
                            :value="item"
                        >
                        </el-option>
                    </el-select>
                </div>
            </el-col>
            <el-col :span="6">
                <div class="grid-content text-center bold">
                    <p>Garages</p>
                    <el-select
                        :value="filters['garage']"
                        clearable
                        placeholder="Select"
                        @change="updateFilter($event, 'garage')"
                    >
                        <el-option
                            v-for="item in selectOptions"
                            :key="item"
                            :label="item"
                            :value="item"
                        >
                        </el-option>
                    </el-select>
                </div>
            </el-col>
        </el-row>
        <el-row :gutter="20">
            <el-col :span="24">
                <div class="mt-3 text-right">
                    <el-button type="primary" v-on:click="applyFilters">Search</el-button>
                    <el-button type="danger" v-on:click="resetFilters">Reset</el-button>
                </div>
            </el-col>
        </el-row>
    </el-main>
</template>

<script>
import { mapGetters } from "vuex";

export default {
    name: "Filters",
    data() {
      return {
        selectOptions: [1,2,3,4,5,6,7,8,9,10],
      }
    },
    methods: {
        updateFilter (value, name) {
            this.$store.dispatch("updateFilter", {name, value});
        },
        resetFilters () {
            this.$store.dispatch("resetFilters");
            this.$store.dispatch("fetchProps", false);
        },
        applyFilters () {
            this.$store.dispatch("fetchProps", this.filters);
        },
    },

    computed: {
        ...mapGetters(["filters"]),
    }
};
</script>
