<template>
        <el-container>

            <el-header class="bg-dark">
                <h1>Property List</h1>
            </el-header>

            <Filters />

            <el-main v-if="error">
                 <el-row :gutter="20">
                    <el-col :span="24">
                        <el-alert
                            title="There was an error"
                            :description="error"
                            type="error"
                            effect="dark">
                        </el-alert>
                    </el-col>
                 </el-row>
            </el-main>

            <el-main v-else-if="loading">
                 <el-row :gutter="20">
                    <el-col :span="24" class="text-center">
                        <i class="el-icon-loading" size="3x"></i>
                    </el-col>
                 </el-row>
            </el-main>

            <el-main v-else>
                <Table />
            </el-main>

        </el-container>
</template>

<script>
import { mapGetters } from "vuex";
import Filters from './Filters';
import Table from './Table';

export default {
    name: "PropertyList",
    components: {
        Filters,
        Table
    },
    mounted() {
        this.$store.dispatch("fetchProps", false);
    },
    computed: {
        ...mapGetters(["properties", "filters", "loading", "error"]),
    }
};
</script>
