<template>
    <el-table
        :data="properties"
        style="width: 100%"
    >
        <el-table-column
            prop="name"
            label="Name"
            width="180"
        >
        </el-table-column>
        <el-table-column
            prop="price"
            label="Price"
            width="180"
        >
        </el-table-column>
        <el-table-column
            prop="beds"
            label="Bedrooms"
        >
        </el-table-column>
        <el-table-column
            prop="baths"
            label="Bathrooms"
        >
        </el-table-column>
        <el-table-column
            prop="storey"
            label="Storeys"
        >
        </el-table-column>
        <el-table-column
            prop="garage"
            label="Garages"
        >
        </el-table-column>
    </el-table>
</template>

<script>
import { mapGetters } from "vuex";

export default {
    name: "Table",
    computed: {
        ...mapGetters(["properties"]),
    }
};
</script>
